*{
    padding: 0;
    margin: 0;
}

:root{
    --var01: #111111;
    --var02: #fff9f5;
    --var03: #61120E;
    --var04: #c55518;
}

.chat_de_fato {
    width: 500px;
    background-color: var(--var02); 
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
} 
  
.chat-title {
    background-color: var(--var04); 
    color: var(--var02); 
    text-align: center;
    padding: 15px; 
    font-weight: bold; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}
  
.chat-messages {
    height: 400px; 
    padding: 15px; 
    overflow-y: auto;
    background-color: transparent;
}
  
.message {
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column;
}
  
.atendente, .me {
    font-weight: bold;
    margin-bottom: 5px;
}
  
.atendente {
    color:var(--var03);
    text-align: left;
}
  
.me {
    color:var(--var03);
    text-align: right; 
}
  
.atendente-message, .my-message {
    padding: 10px; 
    border-radius: 5px;
    background-color: var(--var04); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.atendente-message {
    align-self: flex-start;
    max-width: 70%;
}
  
.atendente-message + .atendente-message {
    margin-top: 5px;
}
  
.my-message + .my-message {
    margin-top: 5px;
}
  
.my-message {
    align-self: flex-end;
    max-width: 70%;
    background-color: var(--var04);
}
  
.chat-input-fake {
    display: flex;
    padding: 10px;
    background-color: var(--var04);
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
}
  
.chat-input-fake input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px; 
    border: none;
    outline: none;
}
  
.chat-input-fake button {
    padding: 10px;
    background-color: var(--var03); 
    color: var(--var02);
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    outline: none;
}
  
.chat-input-fake button:hover {
    background-color: #c0392b;
}
  
.message + .message {
    margin-top: 15px;
}

.message span{
    margin-bottom: 10px;
}

.atendente + .atendente span{
    display: none;
}

.me + .me span {
    display: none;
}